* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 62.5%;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: #cf1acf;
}

.header p {
  font-size: 1.8rem;
  color: white;
}

.main {
  background: linear-gradient(
    185deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(207, 26, 207, 1) 100%
  );
  min-height: 100vh;
  display: flex;
  padding: 5rem 0 0;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.todo-input {
  width: 30rem;
  font-size: 2rem;
  border: none;
}

.add-button {
  min-width: 5rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: white;
  color: #cf1acf;
  border: none;
  border-radius: 1rem;
}

.todo-list {
  background-color: white;
  min-width: 50rem;
  min-height: 40rem;
  margin: 4rem 0 0;
  border-radius: 1rem;
  padding: 3rem;
}

.list {
  list-style-type: none;
}

.todo-item {
  font-size: 1.5rem;
  color: #cf1acf;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.mark {
  text-decoration: line-through;
}

.btn {
  width: 50px;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: #cf1acf;
  color: azure;
  border: 0;
  cursor: pointer;
}
